version: '3.8'

services:
  app:
    build: .
    image: simple:latest
    container_name: app
    ports:
      - "8080:8080"
    depends_on:
      - db
      - elasticsearch
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/hr_system
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_ELASTICSEARCH_URIS: http://elasticsearch:9200
    networks:
      - app-services
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    container_name: db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hr_system
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-services
    restart: unless-stopped

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.8.0
    container_name: elasticsearch
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    networks:
      - app-services
    restart: unless-stopped

volumes:
  pgdata:

networks:
  app-services:
    driver: bridge